/* .v-text-field .v-input__control {
  background: #55287e;
  border-radius: 5px;
  font-size: 18px;
}
.v-select__selections input {
  margin: 0px !important;
  padding: 0px !important;
}
.v-text-field .v-input__slot,
.v-select__selections {
  border-radius: 5px !important;
  border-color: #55287e !important;
}
.v-text-field--single-line .v-input__slot,
.v-select__selections {
  min-height: 38px !important;
  height: 38px !important;
}
.v-input__slot:hover {
  border-color: #55287e !important;
}
.v-input__append-inner {
  margin-top: 4px !important;
}
.v-text-field__slot input {
  margin: 0px !important;
  padding: 3px 0px !important;
}
.v-menu__content .v-list {
  background: #55287e;
  border-radius: 5px !important;
}
.v-menu__content .v-list__tile__title {
  font-size: 16px;
}
.v-select-list.v-card {
  background: transparent !important;
}
.v-btn__content {
  font-size: 16px;
}
.v-messages__message,
.v-counter {
  font-size: 16px;
}
.v-input--selection-controls {
  margin: auto;
  padding: 0px;
}
.v-btn.theme {
  background: linear-gradient(45deg, #6540a7, 40%, #dab4ff, 60%, #6540a7);
  color: white;
  font-size: 24px;
} */
.user-select_none {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
/* .v-dialog__content {
  z-index: 1000 !important;
}
.validation-message {
  margin-top: 5px !important;
  color: red;
} */
